<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Regression Suite" parallel="classes" thread-count="5">
    <test name="Selenium Tests">
        <classes>
            <class name="selenium.LoginTest"/>
            <class name="selenium.CatalogTest"/>
            <class name="selenium.CartTest"/>
            <class name="selenium.MenuTest"/>
        </classes>
    </test>

    <test name="Selenide Tests">
        <classes>
            <class name="selenide.LoginTest"/>
            <class name="selenide.CatalogTest"/>
            <class name="selenide.CartTest"/>
            <class name="selenide.MenuTest"/>
        </classes>
    </test>
</suite>